<hero class="hero" slider="mainCtrl.navSlider"></hero>

<div class="container">
	<section>
		<h2 class="section-header">H2 Header</h2>
		<div class="cards">
			<card details="job" featured="{{$index}}" ng-repeat="job in indexCtrl.portfolio.a"></card>
		</div>
	</section>

	<section>
		<h2 class="section-header">H2 Header 2</h2>
		<div class="cards">
			<card details="proj" ng-repeat="proj in indexCtrl.portfolio.b"></card>
		</div>
	</section>


	<section>
		<h2 class="section-header">H2 Header 2</h2>
		<div class="skills">
			<skill details="skill" ng-repeat="skill in indexCtrl.portfolio.skills"></skill>
		</div>
	</section>

	<section>
		<h2 class="section-header">Smurfville</h2>
		<div class="card card--full" >
			<div class="card__info">
				<h3>{{indexCtrl.portfolio.education.title}}</h3>
				<small>{{indexCtrl.portfolio.education.subTitle}}</small>
			</div>
			<span class="card__meta">{{indexCtrl.portfolio.education.timeframe}}</span>
		</div>
	</section>
</div>

