.viewer{
	@include flexbox();
	@include flex-direction(row);
	@include align-items(center);
	@include justify-content(center);
	height: 90%;


	&__next,
	&__prev{
		@include flex(none);
		width: 30px;
		font-size: 60px;
		font-weight: bold;
		color: #FFF;
		cursor: pointer;
		text-align: center;

		@include breakpoint(medium-up){
			width: 50px;
		}
	}

	&__prev{
		text-align: right;
	}

	&__content{
		@include flex(1);
		@include flexbox();
		@include flex-direction(column);
		height: 100%;


		&__holder{
			//@include flexbox();
			//@include flex(6);
			@include align-items(center);
			@include justify-content(center);
			height: 40%;

			@include breakpoint(medium-up){
				height: 70%;
				
			}

			@include breakpoint(large){
				height: 75%;

			}

			&__img{
				max-width: 100%;
				max-height: 100%;
				//@include flex(none);
				display: block;
				margin: 0 auto;
				height: auto;
				width: auto;
			}
		}

		&__error{
			font-size: 20px;
			color: #FF6868;
			@include align-self(center);
		}

		&__caption{
			//@include flex(1);
			color: #FFF;
			font-size: 15px;
			height: 45%;
			padding: 5px 5px 0 5px;

			@include breakpoint(medium){
				height: 30%;
			}

			@include breakpoint(large){
				height: 25%;
			}
		}
	}

}