

ul, ol {
  padding: 0;
  margin: 20px 0;

  & ul, ol {
    margin-top: 0;
    margin-bottom: 0;
  }
  li {
    & > * {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

ul {
 // list-style: none;
}

.list{

	&--indented {
		margin-left: $gutter * 3;
	}

	&--bulleted {
		list-style: disc;
	}

	&__item{
		display: list-item;
		margin-bottom: $padding;
	}
}