
<img src="http://placecage.com/c/300/300" alt="" class="hero__avatar">
<h1 class="hero__title">Kenny Fernsten</h1>
<div class="hero__intro">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita accusantium molestias numquam tempora, nesciunt magni, repellat quisquam distinctio laudantium harum doloremque aperiam, reiciendis reprehenderit. Ea ipsum ut consequatur dolorum dolores, atque quod vero, voluptatibus totam, iusto sapiente placeat tempora optio.</p>
	<div class="btn-group">
		<ng-include src="'ng/partials/buttons.html'"></ng-include>
	</div>
</div>




